@use './../../vars.scss' as*;

.container {
    max-width: 100%;
}

.header {
    margin: 40px auto;

    h2 {
        text-align: center;
        font-size: 22px;

    }
}

.adminWrapper {
    margin-bottom: 60px;
    max-width: 100%;
    font-size: 14px;
}

.formikWrapper {
    margin: 0px auto;
}

.inputGroup {
    border: 2px solid $soft-blue;
    border-radius: 3px;
    background: white;
    margin: 20px;

    h3 {
        margin: 20px;
    }
}

.inputWrapper,
.arrayWrapper,
.descriptionInputWrapper {
    display: flex;
    padding: 2%;

    label {
        display: flex;
        //justify-content: space-between;
        align-items: center;
        color: #666666;
        font-size: 14px;
        width: 100%;
    }

    .arrayLabel {
        display: inline-block;
        margin-right: 20px;
    }

    input,
    textarea {
        height: 3em;
        display: inline-block;
        font-weight: 500;
        color: inherit;
        border: 1px solid $middle-gray;
        padding: 0px 10px;
        border-radius: 3px;

        &:focus {
            outline: none;
            border-color: $blue;
        }
    }
}

.longInputsTwoColFlex {
    display: flex;
    flex-wrap: wrap;

    .inputWrapper {
        label {
            justify-content: flex-start;
            div {
                width: 110px;
                text-align: right;
                margin-right: 10px;
                //border: 1px solid rebeccapurple;

            }
        }
    }

}

.descriptionInputWrapper {
    display: flex;

    label {
        div {
            width: 120px;
            text-align: right;
            margin-right: 10px;
        }
    }

    textarea {
        height: 5em;
        width: 100%;
        padding: 4px 10px;
        resize: none;

        &:focus {
            height: 8em;
        }
    }
}

.submitBtn {
    border: 2px solid $blue;
    color: $blue;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 18px;
    background: white;
    padding: .6em;
    cursor: pointer;
    transition: 300ms;
    margin: 20px;
    display: block;
    width: 100%;

    &:hover {
        border-color: $activeBlue;
        color: $activeBlue;
    }

    &:disabled {
        color: #D8D1CA;
        border-color: #D8D1CA;
    }
}

.btn {
    font-size: 12px;
    background: white;
    border: $thin-gray-border;
    border-radius: 10px;
    padding: 6px;
    margin: 10px auto;
    color: $gray-fontcolor;
    cursor: pointer;
}

.successLink {
    margin: 0 auto;
    text-align: center;
    color: $blue;
    font-weight: 600;
    text-decoration: underline;
}