$green: #11A834;
$thin-gray-border: 1px solid #F1F3F7;
$light-beige-gray: #F1F3F7;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$lightBorderColor: #ececec;
$black: #121212;
$orderColor: #1F1F1F;
$commonBorderRadius: 12px;
$activeBlue: #2953A4;
$blue: #475B73;
$soft-blue: #EAEEF6;
$middle-gray: #D9D9D9;

.container {
    max-width: 100%;
}

.header {
    margin: 40px auto;

    h2 {
        text-align: center;
        font-size: 22px;

    }
}

.adminWrapper {
    margin-bottom: 60px;
    max-width: 100%;
    font-size: 14px;
}

.formikWrapper {
    margin: 0px auto;
}

.inputGroup {
    border: 2px solid $soft-blue;
    border-radius: 3px;
    background: white;
    margin: 20px;

    h3 {
        margin: 20px;
    }
}

.inputWrapper,
.arrayWrapper,
.descriptionInputWrapper {
    display: flex;
    padding: 2%;

    label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #666666;
        font-size: 14px;
        width: 100%;
    }

    .arrayLabel {
        display: inline-block;
        margin-right: 20px;
    }

    input, textarea {
        height: 3em;
        display: inline-block;
        font-weight: 500;
        color: inherit;
        border: 1px solid $middle-gray;
        padding: 0px 14px;
        border-radius: 3px;
        &:focus {
            outline: none;
            border-color: $blue;
        }
    }
}

.longInputsTwoColFlex {
    display: flex;
    justify-content: space-around;
    .inputWrapper {
        width: 42%;
    }
    input {
        width: 68%;
    }
    span {
        width: 32%;
    }
}

.descriptionInputWrapper {
    width: 84%;
    margin: 0 auto;
    div {
        width: 32%;
        //border: 1px solid blue;
    }
    label {
        width: 100%;
        max-width: none;
    }

    textarea {
        height: 5em;
        width: 68%;
        padding: 4px 14px;
        resize: none;

        &:focus {
            height: 8em;
        }
    }
}


.submitBtn,
.resetBtn {
    border: 3px solid $soft-blue;
    color: $blue;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 18px;
    background: white;
    padding: .6em;
    cursor: pointer;
    transition: 300ms;
    margin: 40px auto;
    display: block;
    width: 100%;

    &:hover {
        border-color: $blue;
    }

    &:disabled {
        color: #D8D1CA;
        border-color: $light-beige-gray;
    }
}

.resetBtn {
    color: $gray-fontcolor;
    border-color: transparent;

    &:hover {
        border-color: $gray-fontcolor;

    }
}

.btn {
    font-size: 12px;
    background: white;
    border: $thin-gray-border;
    border-radius: 10px;
    padding: 6px;
    margin: 10px auto;
    color: $gray-fontcolor;
    cursor: pointer;
}

.successLink {
    margin: 0 auto;
    text-align: center;
    color: $blue;
    font-weight: 600;
    text-decoration: underline;
}