@use './../../vars.scss' as *;

.wrapper {
    padding: 2%;
    background: white;
    border-radius: 3px;
    border: 2px solid $soft-blue;

    table {
        font-size: $small-fontSize;
        border-spacing: 0px;
        border-collapse: collapse;
        width: 100%;

        td {
            padding: 10px;
            padding-right: 38px;
            box-sizing: border-box;
        }
    }
}

.table {

    tr {
        border-bottom: 1px solid $light-beige-gray;
        height: 60px;
        cursor: pointer;
        transition: 100ms linear;
        &:hover {
            color: $activeBlue;
            .iconWrapper {
                svg {
                    fill: $activeBlue;
                }
            }
        }
    }

    th {
        text-align: left;
    }
}

.iconWrapper {
    cursor: pointer;
    svg {
        max-height: 14px;
    }
}
