@use './../../../../vars.scss' as *;


.wrapper {
    font-size: $small-fontSize;

    h2 {
        font-size: 18px;
    }

    & > div {
        margin: 20px;
    }    
}

.bold {
    font-size: 18px;
}


