@use './../../vars.scss' as *;

.wrap {
    background: white;
    margin: 20px;
    border: 2px solid $soft-blue;
    border-radius: 3px;
    min-width: 800px;
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    h3 {
        margin-right: 20px;
    }
}
.container {
    margin: 20px;    
}



