@use './../../../vars.scss' as *;

.checksWrapper {
    background: white;
    border: 2px solid $soft-blue;
    margin: 20px;
    padding: 2%;
    border-radius: 3px;
}

.grid {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.cell,
.chosenCell {
    text-align: center;
    border: 1px solid $middle-gray;
    background: white;
    border-radius: 10px;
    transition: all 100ms linear;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 4px;

    label {
        display: flex;
        width: fit-content;
        margin: 0 4px;
        cursor: pointer;
        span {
            margin: 4px auto;
            width: fit-content;
        }
    }

    input {
        display: none;
    }
    
    &:hover {
        transform: scale(1.01);
    }
}

.chosenCell {
    border-color: $blue;
    color: $blue;
    font-weight: 500;
    background: $soft-blue;
}


.btn {
    display: block;
    border-radius: 50%;
    border: 1px solid $blue;
    height: 40px;
    width: 40px;
    background: white;
    outline: none;
    svg {
        margin-top: 7px;
        margin-left: 6px;
    }
    &:hover {
        background: $soft-blue;
        transform: scale(110%);
    }
}