$green: #11A834;
$thin-gray-border: 1px solid #F1F3F7;
$light-beige-gray: #F1F3F7;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$lightBorderColor: #ececec;
$black: #121212;
$orderColor: #1F1F1F;
$commonBorderRadius: 12px;
$activeBlue: #2953A4;
$blue: #475B73;
$soft-blue: #EAEEF6;
$middle-gray: #D9D9D9;

.wrapper {
    //border: 1px solid gold;
    margin: 20px 0;
}

.inputWrapper {
    display: flex;
    width: 40%;
    input {
        width: 200px;
        height: 3em;
        display: inline-block;
        font-weight: 500;
        color: inherit;
        border: 1px solid $middle-gray;
        padding: 0px 10px;
        border-radius: 3px;
        
        &:focus {
            outline: none;
            border-color: $blue;
    
        }
    }
}

.btn {
    //font-size: 12px;
    //background: white;
    border: 1px solid $blue;
    border-radius: 10px;
    padding: 6px;
    margin-left: 10px;
    color: $blue;
    cursor: pointer;
    transition: 300ms;

    &:hover {
        transform: scale(110%);
    }
}
