$green: #11A834;
$thin-gray-border: 1px solid #F1F3F7;
$light-beige-gray: #F1F3F7;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$lightBorderColor: #ececec;
$black: #121212;
$orderColor: #1F1F1F;
$commonBorderRadius: 12px;
$activeBlue: #2953A4;
$blue: #475B73;
$soft-blue: #EAEEF6;
$middle-gray: #D9D9D9;



.visibleWrap {
    border: 2px solid $soft-blue;
    border-radius: 3px;
    background: white;
    margin: 20px;   
    margin-top: 0;
    
    
    
    .line {
        display: flex;
        justify-content: space-around;
        height: 210px;
        margin: 20px auto;
        //border: 1px solid gainsboro;

    }
    label {
        width: 200px;
        display: block;
        height: 50%;
        position: relative;
        top: 38%;
        left: 20px;
        color: white;
        
        
        span {
            background: white;
            position: absolute;
            top: 0;
            left: -5px;
            padding: 6px;
            color: $gray-fontcolor;
            cursor: pointer;
            text-align: center;
            padding: 10px;
            border: 1px solid $middle-gray;
            border-radius: 3px;
            width: 200px;
        }
    }

    input {
        width: 200px;

    }
    .imgWrapper {
        width: auto;
        max-width: 80%;
        //overflow: hidden;
        //height: 92%;
        //border: 1px solid goldenrod;
        margin-right: 20px;
    }

    img {
        max-width: 440px;
        //max-height: 92%;
        //margin: auto;
        display: block;
        //border: 1px solid hotpink;
    }
}

.btn {
    font-size: 12px;
    background: white;
    border: 1px solid $lightBorderColor;
    border-radius: 10px;
    padding: 6px;
    margin: 10px auto;
    color: $gray-fontcolor;
    cursor: pointer;
}

.loader {
    font-size: 18px;
}

.hiddenWrap, .visibleWrap {
    transition: 1s;   
}
.visibleWrap {

}
.hiddenWrap {
    display: none;
    opacity: 0;
    //transform: translateY(-100vh);
    
}