@use './../../vars.scss' as *;

.wrap {
    margin: 0 auto;
    width: 350px;
    position: relative;
    z-index: 1000;

    input {
        margin: 0 auto;
        margin-bottom: 1.3em;
        width: 328px;
        width: 100%;
        height: 50px;
        border: $thin-gray-border;
        font-style: italic;
        font-weight: 500;
        color: #999999;
        padding-left: 20px;
        box-sizing: padding-box;
        font-size: 14px;

        &:focus {
            outline: none;
            border: 2px solid $blue;
        }
    }

    button {
        width: 100%;
        background: $blue;
        border: 2px solid $blue;
        height: 50px;
        color: white;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 1.3em;
        cursor: pointer;
        &:disabled {
            background: $light-beige-gray;
            border-color: $light-beige-gray;
        }
    }
    
}

.underBtn {
    margin-bottom: 1.3em;

    span {
        font-style: italic;
        color: $blue;
        font-size: 18px;
        text-align: end;
        padding-left: 3.3em;
    }
    label {
        margin: 0px auto auto 0px;
        height: 2em;
    }
}

.error, .errorPassword {
    font-size: $small-fontSize;
    position: absolute;
    top: 48px;
    color: #FF0000;
    left: 20px;
}
.errorPassword {
    top: 116px;
}

.alreadyRegisteredMsg {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    color: $blue ;
}

.demoData {
    font-size: $small-fontSize;
    margin: 20px 0;
    border: 2px solid $soft-blue;
    border-radius: 4px;
    background: $light-beige-gray;
    & > p {
        margin: 10px;
        text-align: center;
        color: $blue;
    }
}