@use './../../../vars.scss' as *;


.box {
    min-height: 160px;
    height: max-content;
    height: 200px;
    max-width: 100%;
    border: 1px solid $middle-gray;
    border-radius: 3px;
    align-items: center;
    background: white;
    transition: 100ms linear;
    cursor: pointer;
    position: relative;

    &:hover {
        box-shadow: 2px 2px 12px 3px $soft-blue;

        img {
            opacity: .4;
        }

    }
}

.flexContainer {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms linear;
    height: 100%;

    .imgContainer {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    img {
        height: auto;
        width: 80%;
        display: inline-block;
        transition: 100ms linear;
    }
}


.ok,
.ok a {
    color: white;
    font-size: $small-fontSize;
    //text-decoration: underline;
    cursor: pointer;
}

.ok,
.error {
    padding: .5em;
    border-radius: 3px;

    a {
        color: $blue;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}

.error {
    color: $blue;
    font-size: 14px;
    font-weight: 600;

    p {
        display: inline;
        margin-right: 10px;
    }

    button {
        background: transparent;
        color: red;
        border: none;
        font-weight: inherit;
        display: inline;

        &:hover {
            text-decoration: underline;
        }
    }
}


.showBtn,
.hiddenBtn {
    position: absolute;
    top: 158px;
    right: -30px;
    transition: 100ms linear;

    &:disabled {
        opacity: .5;
    }
}

.showBtn {
    margin: 0 60px;
}

.delBtn {
    &:hover {
        background: red;
    }
}

.hiddenBtn {
    transform: scale(0);
    pointer-events: none;
}