@use './../../../vars.scss' as *;


.genderEdit {
    width: 260px;
    margin: 30px auto 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background: white;
    color: $gray-fontcolor;

    h3 {
        display: block;
    }

    label {
        width: 24%;
        position: relative;
        display: inline-block;   
    }
    input {
        display: inline-block;
        visibility: hidden;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    @media screen and (max-width: 560px) {
        width: 92%;
    }
    
}
.jaw, .chosenJaw {
    cursor: pointer;
    text-align: center;
    border: 1px solid $middle-gray;
    position: absolute;
    bottom: -10px;
    left: -2px;
    background: white;
    border-radius: 10px;
    padding: 9px 4px;
}
.chosenJaw {
    border-color: $blue;
    color: $blue;
    font-weight: 500;
    background: $soft-blue;
}



