$green: #11A834;
$thin-gray-border: 1px solid #F1F3F7;
$light-beige-gray: #F1F3F7;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$lightBorderColor: #ececec;
$black: #121212;
$orderColor: #1F1F1F;
$commonBorderRadius: 12px;
$activeBlue: #2953A4;
$blue: #475B73;
$soft-blue: #EAEEF6;

.wrap {
    position: fixed;
    right: 24px;
    bottom: 24px;
    button {
        background: rgba(102, 102, 102, .2);
        border: none;
        border-radius: 3px;
    }
    svg {
        height: 50px;
        width: 50px;

    }
}