$green: #11A834;
$thin-gray-border: 1px solid #F1F3F7;
$light-beige-gray: #F1F3F7;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$lightBorderColor: #ececec;
$black: #121212;
$orderColor: #1F1F1F;
$commonBorderRadius: 12px;
$activeBlue: #2953A4;
$blue: #475B73;
$soft-blue: #EAEEF6;
$middle-gray: #D9D9D9;


.wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;    
}

.h1 {
    font-size: 24px;
    margin: 0;
    margin-left: 20px;
    padding: 0;

    span {
        display: block;
        color: #4F2914;
    }
}

.name {
    font-weight: 500;
    margin-right: 20px;
    color: $blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}

.iconWrapper {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;

    svg {
        height: 42px;
        width: 22px;
        padding-top: 6px;
        transition: 300ms;
    }

    &:hover {
        transform: scale(102%);
        svg {
            fill: $activeBlue;
        }
    }

}

.avatarWrap {
    border: 1px solid $middle-gray;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: $soft-blue;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    img {
        width: auto;
        height: 100%;
    }
}

.accordeon {
    position: absolute;
    background: white;
    border-radius: 3px;
    top: 64px;

    button {
        margin: 10px;
        color: $activeBlue;
        border: none;
        background: transparent;
        font-weight: 600;
    }

    .container {
        border: 1px solid $soft-blue;
        box-shadow: 2px 2px 12px 3px $soft-blue;
    }
}