@use './../../vars.scss' as *; 



.header {
    margin: 40px auto;
    h2 {
        text-align: center;
        font-size: 22px;
    }
}
.downloaderHead {
    font-size: 16px;
    background: white;
    margin: 20px;
    margin-bottom: 0;
    text-align: center;
    border: 2px solid $soft-blue;
    padding: 1em;
    cursor: pointer;
}
.adminWrapper {
    margin-bottom: 60px;
    max-width: 100%;
    font-size: 14px;

}
.formikWrapper {
    margin: 0px auto;
}

.inputGroup {
    border: 2px solid $soft-blue;
    border-radius: 3px;
    background: white;
    margin: 20px;
    h3 {
        margin: 20px;
    }
}

.inputWrapper, .arrayWrapper {
    display: flex;
    padding: 2%;
    max-width: 600px;

    label {
        display: flex;
        justify-content: space-between;
        justify-content: flex-start;
        align-items: center;
        color: #666666;
        font-size: 14px;
        width: 100%;
    }
  
    .arrayLabel {
        display: inline-block;
        margin-right: 20px;
    }
    input {
        width: 63%;
        height: 3em;
        display: inline-block;
        font-weight: 500;
        color: inherit;
        border: 1px solid $middle-gray;
        padding: 0px 14px;
        border-radius: 3px;
        
        &:focus {
            outline: none;
            border-color: $blue;
        }
    }
}

.inputsTwoColFlex {
    display: flex;
    align-items: center;
   
    label {
        span {
            width: 106px;
            padding: 0;
        }
        input {
            width: 32%;
            width: auto;
        }
    }
    @media screen and (max-width: 1024px) {
        label {
            width: 90%;
            span {
                width: 62%;
            }
            input {
                width: 38%;
            }
        }
    }
    @media screen and (max-width: 500px) {
        label {
            width: 96%;
            span {
                width: 50%;
            }
            input {
                width: 50%;
                padding: 0px 4px;

            }
        }
    }
}

.descriptionInputWrapper {

    .inputWrapper {
        width: 100%;
        label {
            span {
                width: 106px;
            }
        }
    }
    input {
        width: 80%;
    }
}

.arrayWrapper {

    &>div {
        width: 100%;
    }
    .arrayLabel {
        display: inline-block;
        width: 38%;
        input {
            width: 100%;
            margin-left: -14px;
        }
    }
}

.btn {
    font-size: 12px;
    background: white;
    border: $thin-gray-border;
    border-radius: 10px;
    padding: 6px;
    margin: 10px auto;
    color: $gray-fontcolor;
    cursor: pointer;
}




