@use './../../../../vars.scss' as *;

.btnsBlock {
    button {
        background: $blue;
        background: $soft-blue;
        outline: none;
        border: none;
        padding: .5em;
        border-radius: 3px;
        width: 100%;
        &:first-child {
            margin-bottom: 10px;

        }
    
        &:hover {
            background: $activeBlue;
            color: white;
        }
        &:disabled {
            background: $middle-gray;

        }
    }
    
}





