$green: #11A834;
$thin-gray-border: 1px solid #F1F3F7;
$light-beige-gray: #F1F3F7;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$lightBorderColor: #ececec;
$black: #121212;
$orderColor: #1F1F1F;
$commonBorderRadius: 12px;
$activeBlue: #2953A4;
$blue: #475B73;
$soft-blue: #EAEEF6;
$middle-gray: #D9D9D9;


.downloader {
    margin: 20px;
    padding: 2%;
    border: 3px dashed $soft-blue;
    h2 {
        font-size: 16px;
        margin-left: 10px;
        text-align: center;
        border-bottom: $thin-gray-border;
    }

    &>div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 180px;
    }
    label {
        width: 200px;
        display: block;
        height: fit-content;
        position: relative;
        color: white;
        
        span {
            background: white;
            position: absolute;
            top: -4px;
            right: 1px;
            padding: 6px;
            color: $gray-fontcolor;
            cursor: pointer;
            text-align: center;
            padding: 10px;
            border: 1px solid $middle-gray;
            border-radius: 10px;
            width: 200px;
        }
    }

    input {
        width: 200px;
    }
    .imgWrapper {
        height: 100%;
        max-width: 60%;
        display: inline-block;
        margin: 10px;
        //border-radius: 10px;
        overflow: hidden;
        //background: white;
        //border: 1px solid orange;
    }

    img {
        //max-width: 90%;
        //border: 1px solid red;
        height: 100%;
        width: auto;
        margin: 16px auto;
        display: block;
    }

}

.btn {
    font-size: 12px;
    background: white;
    border: $thin-gray-border;
    border-radius: 10px;
    padding: 6px;
    margin: 10px auto;
    color: $gray-fontcolor;
    cursor: pointer;
}

.preloaderContainer {
    &>div {
        margin: 0;
        margin-top: 12px;

    }

}